title: Recept
email: johanlarsson@outlook.com
url: "https://recept.cx"
github_username: jolars
repository_name: recipes
branch: main

plugins:
  - jekyll-tagories
  - jekyll-paginate
  - jekyll_picture_tag

picture:
  nomarkdown: false

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - scripts/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - devenv.nix
  - devenv.yaml
  - devenv.lock
  - .devenv/
  - flake.nix
  - flake.lock

collections:
  recipes:
    output: true

defaults:
  - scope:
      path: ""
      type: "recipes"
    values:
      layout: "recipe"
      author: "Johan Larsson"
  - scope:
      path: "pages"
    values:
      layout: base
      permalink: /:basename:output_ext
