---
layout: base
---

<div class="row g-3">
    <div class="col-sm-3 col-lg-2">
        <ul class = "list-group">
            {% for category in site.categories %}
                <a href="{{ site.url }}/category/{{ category | first | slugify }}/index.html"
                   class="list-group-item list-group-item-action">{{ category | first }}</a>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="row g-3">
            {% for recipe in site.recipes %}
                <div class="col col-sm-6 col-lg-4">
                    <div class="card">
                        <a href="{{ recipe.url | relative_url }}" class="stretched-link">
                            {%- if recipe.img -%}
                                <img src="{{ recipe.img | relative_url }}"
                                     class="card-img-top"
                                     alt="{{ recipe.title }}">
                            {%- endif -%}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.excerpt }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
