<header class="site-header d-print-none">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <div class="container">
            <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--     {% for item in site.data.navigation %} -->
                    <!--         <li class="nav-item"> -->
                    <!--             <a class="nav-link active" -->
                    <!--                aria-current="page" -->
                    <!--                href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> -->
                    <!--         </li> -->
                    <!--     {% endfor %} -->
                </ul>
                <script>
                function site_search() {
                    var query = document.getElementById("site-search").value;
                    window.open("{{ '/search.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
                    }
                </script>
                <form class="d-flex" role="search" onsubmit="site_search(); return false;">
                    <div class="input-group">
                        <input id="site-search"
                               class="form-control"
                               type="search"
                               placeholder="Search"
                               aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
