<header class="site-header d-print-none">
    <nav class="navbar navbar-expand bg-body-tertiary">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <div class="container">
            <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            <div class="navbar-nav ms-auto">
                <!-- <a class="nav-link" href="{{ '/' | relative_url }}">Recept</a> -->
                <a class="nav-link" href="{{ '/fridge/' | relative_url }}">Töm Kylen</a>
                <a class="nav-link" href="{{ '/mealplan/' | relative_url }}">Veckomeny</a>
            </div>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
