@charset "utf-8";

@media (max-width: 767.98px) {
  .container {
    max-width: 991.98px !important;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 950px !important;
  }
}

.recipe {
  .ingredients {
    ul {
      padding-left: 1em;
      text-indent: -1em;
    }
  }
  .directions {
    ol {
      list-style-position: inside;
      padding-left: 0;
      li {
        margin-bottom: 1ex;
      }

      li::marker {
        font-weight: bold;
      }
    }
    // ol {
    //   padding-left: 1.2em;
    //   margin-left: 0;
    // }
  }
}

// html body main.page-content div.container.mt-4.mb-4 div.recipe.row
// div.ingredients.col-sm-4.col-lg-5.col-xl-4.offset-xl-1 div.d-grid.d-sm-block
// a.btn.btn-sm.btn-outline-secondary.mb-2
