---
layout: base
---

<div class="row g-4">
    <div class="col-sm-3">
        <div class="gap-1">
            {% for category in site.categories %}
                {%- assign slug = category | first -%}
                <a href="{{ site.url }}/category/{{ category | first | slugify }}/index.html"
                   {%- if page.title == slug -%}
                   class="btn btn-light active mb-1"
                   {%- else -%}
                   class="btn btn-light mb-1"
                   {%- endif -%}
                   role="button">{{ category | first }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row g-4">
            {% for recipe in page.posts %}
                <div class="col col-md-4">
                    <div class="card">
                        <a href="{{ recipe.url | relative_url }}" class="stretched-link">
                            <img src="{{ recipe.img | relative_url }}"
                                 class="card-img-top"
                                 alt="{{ recipe.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.excerpt }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
