---
layout: base
---

<div class="row g-3">
    <div class="col-sm-3">
        <p class="d-inline-flex gap-1">
            {% for category in site.categories %}
                {%- assign slug = category | first -%}
                {%- if page.title == slug -%}
                    <a href="{{ '/' | relative_url }}"
                       class="btn btn-light active"
                       aria-pressed="true"
                       role="button">{{ category | first }}</a>
                {%- else -%}
                    <a href="{{ site.url }}/category/{{ category | first | slugify }}/index.html"
                       class="btn btn-light"
                       role="button">{{ category | first }}</a>
                {%- endif -%}
            {% endfor %}
        </p>
    </div>
    <div class="col-sm-9">
        <div class="row g-3">
            {% for recipe in page.posts %}
                <div class="col col-sm-6 col-md-4">
                    <div class="card">
                        <a href="{{ recipe.url | relative_url }}" class="stretched-link">
                            <img src="{{ recipe.img | relative_url }}"
                                 class="card-img-top"
                                 alt="{{ recipe.title }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.excerpt }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
