---
layout: base
---

<div class="row pb-4">
    <div class="col-md-6">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
    <!-- col col-md-12 d-flex justify-content-center justify-content-md-start -->
    <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
        {% if page.img %}
            <img src="{{ page.img | relative_url }}"
                 class="img-fluid rounded float-end"
                 alt="{{ page.title }}" />
        {% endif %}
    </div>
</div>
<div class="recipe row">
    <div class="ingredients col-sm-4">
        <h4>Ingredienser</h4>
        {% for part in page.ingredients %}
            {% if part.part %}<h5>{{ part.part }}</h5>{% endif %}
            <ul class="list-unstyled">
                {% for ingredient in part.ingredients %}<li>{{ ingredient }}</li>{% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="directions col-sm-8">
        <h4>Instruktioner</h4>
        <!-- <ol> -->
        {% for direction in page.directions %}<p>{{ direction }}</p>{% endfor %}
        <!-- </ol> -->
        <!-- <ul class="list-group"> -->
        <!--     {% for direction in page.directions %}<li class="list-group-item">{{ direction }}</li>{% endfor %} -->
        <!-- <li class="list-group-item">An item</li> -->
        <!-- <li class="list-group-item">A second item</li> -->
        <!-- <li class="list-group-item">A third item</li> -->
        <!-- <li class="list-group-item">A fourth item</li> -->
        <!-- <li class="list-group-item">And a fifth one</li> -->
        <!-- </ul> -->
    </div>
</div>
