---
layout: base
---

{%- assign servings_size = page.servings | split: ' ' | first -%}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Recipe",
        "author": "{{page.author}}",
        "cookTime": "{{ page.cook_time }}",
        "description": "{{page.excerpt}}",
        "image": "{{ page.img | absolute_url }}",
        "recipeIngredient": [
            {%- for part in page.ingredients -%}
                {% for ingredient in part[1] %}
                    "{{ ingredient }}"{% unless forloop.last and forloop.parentloop.last %},{% endunless %}
                {%- endfor %}
            {%- endfor %}
        ],
        "name": "{{ page.title }}",
"prepTime": "{{ page.prep_time }}",
        "recipeInstructions": "{{ content | strip_html | strip_newlines | strip | escape | replace: '"', '\"' }}",
        "recipeYield": "{{ page.servings }}",
        "suitableForDiet": "https://schema.org/LowFatDiet"
    }
</script>
<div class="row pb-3">
    <div class="col-sm-6 col-xl-5 offset-xl-1">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.excerpt }}</p>
    </div>
    <div class="col-sm-6 col-xl-5 text-end">
        {% if page.img %}
            {% responsive_image_block %}
            path: {{ page.img }}
            alt: {{ page.title }}
            class: img-fluid rounded
            itemprop: "image"
        {% endresponsive_image_block %}
    {% endif %}
</div>
</div>
<div class="recipe row">
    <div class="ingredients col-sm-4 col-lg-5 col-xl-4 offset-xl-1">
        <div class="row align-items-end">
            <div class="col">
                <h3>Ingredienser</h3>
            </div>
            {%- if page.servings -%}
                <div class="col">
                    <div class="mb-2 text-end text-sm-start">
                        <em class="text-body-secondary"><span id="servings" data-servings="{{ servings_size }}">{{ page.servings }}</span></em>
                        <a class="icon-link link-dark ps-2 me-1"
                           href="javascript:void(0)"
                           onclick="modifyServings('down');">
                            <i class="bi bi-dash-circle-fill"></i>
                        </a>
                        <a class="icon-link link-dark"
                           href="javascript:void(0)"
                           onclick="modifyServings('up');">
                            <i class="bi bi-plus-circle-fill"></i>
                        </a>
                    </div>
                </div>
            {%- endif -%}
        </div>
        {% for part in page.ingredients %}
            {%- if part[0] != "main" -%}
                <h4>{{ part[0] }}</h4>
            {%- endif -%}
            <ul class="list-unstyled">
                {% for ingredient in part[1] %}
                    <li>
                        <span class="ingredient" data-ingredient="{{ ingredient }}">{{ ingredient }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        <!-- <div data-bring-import -->
        <!--      data-bring-language="en" -->
        <!--      data-bring-theme="dark" -->
        <!--      data-bring-base-quantity="{{ page.servings }}" -->
        <!--      class="d-flex text-center" -->
        <!--      style="display:none"></div> -->
        <!-- <a href="https://api.getbring.com/rest/bringrecipes/deeplink?url={{ page.url | absolute_url }}&source=web&baseQuantity={{ page.servings }}&requestedQuantity=4"> -->
        <div class="d-grid d-sm-block">
            <a class="btn btn-secondary mb-3"
               href="https://api.getbring.com/rest/bringrecipes/deeplink?url={{ page.url | absolute_url }}&source=web&baseQuantity={{ servings_size }}">
                Lägg till i Bring!
            </a>
        </div>
    </div>
    <div class="directions col-sm-8 col-lg-7 col-xl-6">
        <h3>Instruktioner</h3>
        {{ content }}
    </div>
</div>
<script async="async" src="//platform.getbring.com/widgets/import.js"></script>
